/* h1 es un selector de etiqueta  
    nomre_del_selector {
    propiedad valor;
    propiedad valor;
    propiedad valor;
    ...
    propiedadN: valor;
}

*/
/* h1: es un selector css de etiqueta */
h1{ 
    /* propiedades de css de la fuente /letra */

    color: brown; /* de color */
    font-weight: bold; /* negrita */
    font-size:40px; /* tamaño */
    font-style: oblique; /* estilo */
    text-align: center; /* parrafo */
    font-variant: inherit; /* versalitas */
    text-decoration: underline; /* subrayado */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: capitalize;
    word-spacing: 9px; /* espacio entre palabras  */ 


    /* formatos al parrafo  */

    text-align: center; /* parrafo*/
}


p{
font-size: 14px;
text-align: justify left; /* mueve el texto a un lado del cuadro  */ 
line-height: 1.3; /* espacios entre parrafos */
text-indent: 20px; /* sangria en al primera linea  */  
margin: 20px 50px 30px 10px; /* margen-top-derecha-abajo-izquierda */

 /* ESTA EN ORDEN DE MARGEN

 margin-top: 20px;
 margin-right: 50px;
 margin-bottom: 30px;
 margin-left: 10px;

 */
 /* Bordes al texto  */

border: 5px solid rgb(255, 0, 0);
padding: 10px; /* espacio entre borde y texto  */ 
border-radius: 20px; /* para darle curva a cuadro generado fuera del texto  */
border-top-left-radius: 50px; 
background-color: aquamarine; /* para darle color de fondo al cuadro  */
color: black;




}




