/* Reset CSS a todos los html */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: none;
    height: 100vh;
    min-height: 100vh; /* altura mínima del body al 100% de la ventana */
    border: 0px solid black;
    background-color: aqua;
    height: 100vh; /* altura del body al 100% de la ventana */
}

header {
    background-color: lightblue;
    height: 20vh;
    height: 12vh; /* medidas absolutas */
    background-color: blue;
    text-align: center;
    /* flexbox */
    display: flex; /* modelo de cajas flexibles: contenedor flexible */
    flex-direction: row; /* dirección de los items (FILA) */
    flex-wrap: nowrap; /* no permitir salto de línea entre items */
    justify-content: space-between; /* alineación horizontal de los items */
}

header figure {
    border: 5px solid red;
    height: 100%;
}

header figure img {
    height: 70px;
}

/* Selector descendiente */
header h1 {
    color: white;
    text-align: center;
    border: 2px solid red;
}

header nav {
    border: 0px solid black;
    text-align: center;
    padding: 10px;
    border: 2px solid red;
}

header nav a {
    color: yellow;
    display: inline-block; /* transformar un E.Bloque en un ELinea */
    margin-right: 20px;
    text-decoration: none; /* quitar el subrayado */
    font-size: 20px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
}

header nav a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

main {
    background-color: lightgrey;
    height: 80vh;
    height: 78vh;
}

footer {
    background-color: lightgreen;
    height: 10vh;
    height: 10vh;
    background-color: gray;
}