* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8; 
    color: #333;

}


header {
    background-color: rgb(69, 123, 177); /* Azul oscuro/grisáceo */
    color: white;
    text-align: center;
}

header h1 {
    margin: 0 0 10px 0;

}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 20px;
    font-weight: bold;
    transition: color 1.5s;
}

nav a:hover {
    color: rgb(56, 157, 201); /* Un color turquesa para el efecto hover */
}

main {
    /* max-width: 800px;  */
    margin: 40px auto;
    background-color: rgb(228, 225, 225);
    border-radius: 10px;
}


main p {
    font-size: 1.1em;
    text-align: justify;
}


footer {
    background-color: rgb(69, 123, 177); 
    text-align: center;
    padding: 15px 0;
    font-size: 0.9em;
    position: fixed; 
    bottom: 0;
    width: 100%;
    color: rgb(255, 255, 255);
}

footer p {
    margin: 0.1;
}
